/*
    Generic component styles
*/

.unselectable {
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: 
}

.component {
    margin: 10px 5px;
}

.container {
    padding: 10px;
    border: 1px dashed var(--text-color-2);
    border-radius: 4px;
    transition: .2s;
}

.container:hover {
    border: 1px solid var(--text-color-1);
}

.container>*:first-child {
    margin-top: 0px;
}

.button {
    min-width: 100px;
    padding: 7px 12px;
    font-size: 0.9em;
    color: var(--text-color-1);
    border-radius: 4px;
    transition: .2s;
}

.button.fill-line {
    display: block;
    width: 100%;
    margin-inline: 0px;
}

.button.none {
    background: var(--primary-color-1);
}

.button.neutral {
    background: var(--primary-color-2);
}

.button.positive {
    background: var(--secondary-color-1);
}

.button.negative {
    background: var(--secondary-color-2);
}

.button:hover {
   filter: brightness(120%);
}

.button:active {
   filter: brightness(200%);
}

.a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: var(--primary-color-1);
    font-weight: bold; 
    transition: 1s;
}

.a:hover {
    text-decoration: underline;
    filter: brightness(150%);
}

.progress-bg, .progress-fg {
    height: 16px;
    border-radius: 4px;
}

.progress-bg {
    position: relative;
    display: block;
    width: 100%;
    margin-inline: 0px;
    background: var(--text-color-2);
}

.progress-fg {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    min-width: 1%;
    max-width: 100%;
    background: var(--primary-color-1);
    transition: .2s;
}

.progress-bg label {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    color: var(--background-color);
    font-size: 0.5em;
    transition: .5s;
}

.progress-bg:hover label {
    opacity: 100;
    font-size: 1em;
}

.place-right {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.checkbox input {
    display: none;
}

.checkbox-bg, .checkbox-fg {
    box-sizing: border-box;
    border-radius: 4px;
}

.checkbox-bg {
    position: relative;
    width: 16px;
    height: 16px;
    display: inline-block;
    background: var(--text-color-1);
}

.checkbox-fg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    transform: translate(-50%, -50%);
    background: transparent;
    transition: .2s;
}

.checkbox-fg.checked {
    background: var(--primary-color-1);
    border: 2px solid var(--text-color-1);
    animation: checkbox-check .3s forwards;
}

.checkbox span {
    padding-left: 5px;
    color: var(--text-color-2);
}

.checkbox label:hover span {
    color: var(--text-color-1);
}

@keyframes checkbox-check {
    0% {
        width: 0px;
        height: 0px;
    }
    
    100% {
        width: 16px;
        height: 16px;
    }
}